*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

button{
  background-color: #2d2d2d;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to right, #CBCE91FF, #EA738DFF); */
  background-color: #1f2326;
  
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  box-shadow: 0 15px 50px 0 rgba(0,0,0,0.4), 0 15px 20px 0 rgba(0,0,0,0.2);
}

.calculator-grid>button {
  cursor: pointer;
  font-size: 2rem;
  /* border: 1px, solid rgb(255, 255, 255); */
  outline: none;
}

button:hover {
  background-color: #a9a9a9;
}

.span-two {
  grid-column: span 2;
  color: whitesmoke;
  background-color: rgba(223, 20, 20, 0.8);
}

.span-two:hover{
  background-color: rgba(205, 90, 90, 0.8);
}

.output {
  grid-column: 1 / -1;
  background-color: #fafafa;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 5px;
  
}

.output .previous-operand {
  color: rgba(0, 0, 0, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
}